.all_video {
    background: #1b223a;
    border-radius: 5px;
}

.all_video_box {
    width: 100%;
    height: 150px;
    text-align: center;
}

.all_video_txt1 {
    color: #ffffff;
    opacity: 0.8;
    margin-bottom: 10px;
}

.all_video_txt2 {
    color: #a0cefc;
    margin: 0;
}
