ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.all_video {
    background: #1b223a;
    border-radius: 5px;
}

.all_video_box {
    width: 100%;
    height: 150px;
    text-align: center;
}

.all_slider_img {
    display: inline !important;
}

.all_video_txt1 {
    color: #ffffff;
    opacity: 0.8;
    margin-bottom: 10px;
    font-size: 14px;
}

.all_video_txt2 {
    color: #a0cefc;
    margin: 0;
    font-size: 12px;
}

.all_table_title {
    background: #38454d;
    border-radius: 5px 5px 0px 0px;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 0;
    padding: 5px 10px;
    @include flex-center-start;
}

.all_chart_area {
    background: #333340;
    border-radius: 12px;
}
